:root {
  --background-color: rgba(196, 209, 217);
  --cerulean: rgba(0, 157, 219, 0.75);
  --lochmara: rgba(0, 120, 189);
  --water-leaf: rgba(169, 232, 234, 0.37);
  --elephant: rgba(16, 43, 60);
  --pickled-bluewood: rgba(45, 68, 83);
  --shuttle-grey: rgba(93, 109, 126);
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 50%;
  height: 10%;
  background-color: var(--water-leaf);
  padding: 1%;
}

.board-container {
  width: 75%;
  height: 40%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}

.board {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--cerulean);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid var(--water-leaf);
  box-sizing: border-box;
  transition: transform 0.1s ease-in-out;
}

.tile:hover {
  transform: scale(1.15);
  border: none;
}

.ship {
  background-color: var(--shuttle-grey);
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

.filler {
  width: 30%;
}

.ship-selector {
  display: flex;
  flex-direction: column;
}

.ship-drag {
  width: 100%;
  height: 100%;
}
